.chat-main
  .main-header
    .main-header__left-box
      .main-header__left-box__group-name
        = @group.name
      .main-header__left-box__member
        Member:
        - @group.users.each_with_index do |user, i|
          - unless i.zero?
            ,
          = user.name
        .main-header__left-box__member-name
    = link_to edit_group_path(@group.id), class: 'edit-btn' do
      Edit

  .chat-main__message-list
    = render @messages

  = form_for [@group, @message] do |f|
    .form
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit-btn'